[defaults]
inventory = inventory/hosts.ini
vault_password_file = ./ansible_vault_pass
interpreter_python = /usr/bin/python3
roles_path = roles
host_key_checking = False
deprecation_warnings = False
command_warnings = False

# Makes output significantly easier to read
stdout_callback = default
result_format = yaml

[ssh_connection]
# Speeds up SSH connections considerably
pipelining = True